.shopping {
  margin: auto 5px;
  min-height: 400px;
  text-align: center;
  min-height: 400px;
  border-bottom: 1px solid red;
}

.text {
  font-style: italic;
  color: deepskyblue;
}

.button_categorie {
  background: none;
  margin: auto 10px;
}

.products {
  display: block;
  margin: 30px auto;
  font-size: 25px;
}
